.main-panel{
  display: flex;
  height: 100vh;
  padding: 10px;
  background-color: #ccc;
  font-size: 14px;

  .left-panel{
    &.expand-bar{
      flex: 0 0 400px;
    }
    &.collapse-bar{
      flex: 0 0 50px;
    }

    height: 500px;
    background-color: #fff;
    height: 100%;
  }

  .right-panel{
    flex: 1 1 auto;
    height: 100%;
    background-color: #fff;
  }
}
