<div class="breadcrumb-container main-bg d-flex justify-content-between align-items-center px-3">
  <nav class="breadcrumb-nav" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Manage</a></li>
      <li class="breadcrumb-item active" aria-current="page">Carbon Wiki</li>
    </ol>
  </nav>
  <mat-icon size="small">info_outline</mat-icon>
</div>

<!-- <div class="breadcrumb-container main-bg d-flex justify-content-between align-items-center px-3">
  <nav class="breadcrumb-nav" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <ng-container *ngFor="let breadcrumb of breadcrumbs; let last = last">
        <ng-container *ngIf="!last">
          <li class="breadcrumb-item"><a [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a></li>
        </ng-container>
        <ng-container *ngIf="last">
          <li class="breadcrumb-item active" aria-current="page"> {{ breadcrumb.label }}</li>
        </ng-container>
      </ng-container>
    </ol>
  </nav>
  <mat-icon size="small">info_outline</mat-icon>
</div> -->
